[Unit]
Description=OpenWEC server
After=network-online.target

[Service]
ExecStart=/usr/bin/openwecd
User=openwec
Group=openwec
Restart=always
RestartSec=5s
LimitNOFILE=65536
ExecReload=/bin/kill -HUP $MAINPID

[Install]
WantedBy=multi-user.target
