name: Generate Github release draft

on:
  push:
    tags:
      - "v*"

env:
  CARGO_TERM_COLOR: always

jobs:
  build:
    name: build packages
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - name: Make debian bookworm package
      run: |
          cd build-pkg && \
          docker build -t openwec-builder:debian-bookworm -f Dockerfile-debian-bookworm . && \
          docker run -t -u $(id -u):$(id -g) -v $(pwd)/../:/SRC  \
            --env CARGO_HOME=/SRC/target/.cargo openwec-builder:debian-bookworm \
            sh -c "cargo build --release --locked && \
                   cargo deb --no-build --manifest-path=./common/Cargo.toml" && \
          for i in ../target/debian/*.deb; do mv "$i" "${i/.deb/_deb12.deb}"; done;
    - name: Upload debian bookworm package
      uses: actions/upload-artifact@v4
      with:
        name: openwec-deb-bookworm-package
        path: ./target/debian/*.deb
    - name: Make debian bullseye package
      run: |
          cargo clean && \
          cd build-pkg && \
          docker build -t openwec-builder:debian-bullseye -f Dockerfile-debian-bullseye . && \
          docker run -t -u $(id -u):$(id -g) -v $(pwd)/../:/SRC  \
            --env CARGO_HOME=/SRC/target/.cargo openwec-builder:debian-bullseye \
            sh -c "cargo build --release --locked && \
                   cargo deb --no-build --manifest-path=./common/Cargo.toml" && \
          for i in ../target/debian/*.deb; do mv "$i" "${i/.deb/_deb11.deb}"; done;
    - name: Upload debian bullseye package
      uses: actions/upload-artifact@v4
      with:
        name: openwec-deb-bullseye-package
        path: ./target/debian/*.deb
    - name: Make almalinux 9 package
      run: |
          cargo clean && \
          cd build-pkg && \
          docker build -t openwec-builder:almalinux-9 -f Dockerfile-almalinux-9 . && \
          docker run -t -u $(id -u):$(id -g) -v $(pwd)/../:/SRC  \
            --env CARGO_HOME=/SRC/target/.cargo openwec-builder:almalinux-9 \
            sh -c "cargo build --release --locked && \
                   strip -s target/release/openwec{d,} && \
                   cargo generate-rpm --package common --metadata-overwrite=./common/Cargo.toml --set-metadata=\"release='1.el9'\""
    - name: Upload almalinux 9 package
      uses: actions/upload-artifact@v4
      with:
        name: openwec-alma-9-package
        path: ./target/generate-rpm/*.rpm
  # Need to select "Read and write permissions" under Actions / General / Workflow Permissions
  release:
    name: Github release draft
    needs: [build]
    runs-on: ubuntu-latest
    # Sets the permissions granted to the `GITHUB_TOKEN` for the actions in this job.
    permissions:
      contents: write
    steps:
      - name: Download debian bookworm package
        uses: actions/download-artifact@v4
        with:
          name: openwec-deb-bookworm-package
      - name: Download debian bullseye package
        uses: actions/download-artifact@v4
        with:
          name: openwec-deb-bullseye-package
      - name: Download almalinux 9 package
        uses: actions/download-artifact@v4
        with:
          name: openwec-alma-9-package
      - name: Get artifacts names
        id: artifacts_names
        run: |
          echo "U_PKG_DEB_BOOKWORM=$(ls openwec*_deb12.deb)" >> "$GITHUB_OUTPUT" && \
          echo "U_PKG_DEB_BULLSEYE=$(ls openwec*_deb11.deb)" >> "$GITHUB_OUTPUT" && \
          echo "U_PKG_ALMA_9=$(ls openwec*el9*.rpm)" >> "$GITHUB_OUTPUT"
      - name: Create draft release
        uses: softprops/action-gh-release@v2
        with:
          draft: true
          files: |
            ${{ steps.artifacts_names.outputs.U_PKG_DEB_BOOKWORM }}
            ${{ steps.artifacts_names.outputs.U_PKG_DEB_BULLSEYE }}
            ${{ steps.artifacts_names.outputs.U_PKG_ALMA_9 }}
